<p>
  <b>Name:</b>
  <%= @position.name %>
</p>

<p>
  <b>Description:</b>
  <%= raw(@position.description) %>
</p>


<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
