html {
	background-color: #9a0000;
}
body {
	font-family: Sans-Serif;
	font-size: 12px;
}

h1, h2, h3, h4, h5, h6 {
	font-family: sans-serif; 
	color: #666666
}
#container {
	margin-left: auto;
	margin-right: auto;
}
#flash_message {
	width: 900px;
	position: absolute;
	margin:0 auto;
	text-align:left;
	padding: 20px 0px 20px 0px;
}
#flash_notice, #flash_error, #flash_alert {
	width: 900px;
	margin-left: auto;
	margin-right: auto;	
	top: 0px;
	padding: 5px 5px;
	text-align: center;
}

#flash_notice {
	background-color: #CFC;
	border: solid 1px #6C6;
}

#flash_error {
	background-color: #FCC;
	border: solid 1px #C66;
}
#flash_alert {
	background-color: #FCC;
	border: solid 1px #C66;
}

#header {
	min-width: 0px;
	width: 1005px;
	max-width: 1200px;
	position: relative;
}
#header #logo {
	left: 5%;
	position: absolute;
}
#header #logo2 {
	position: absolute;
	top: 20px;
	left: 1%;
}
#header #logo2 .logo_text {
	text-align: center;
	margin-left: 50px;
	margin-right: auto;
}

#header #banner {
	left: 25%;
	top: 15px;
	position: absolute;
	min-width: 695px;
	width: 900px;
	max-width: 900px;
}
#header #banner img {
	border: solid 7px #FFF;
}
#main {
	position: relative;
	top: 135px;
}
#navigation {
	width: 100%;
	overflow: hidden;
	position: relative;
}
#navigation ul {
	position: relative;
	float: left;
	left: 45%;
	list-style: none;
	text-decoration: none;
}
#navigation ul li {
	position: relative;
	float: left;
	right: 50%;
	margin-left: auto;
	margin-right: auto;
	text-align:  center;
	padding-left: 25px;
	padding-right: 25px;
	font-family: Verdana;
	font-variant: small-caps;
	font-size: 17px;
	font-weight: bold;
	color: #FFF;
}
#navigation ul li:hover {
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
	background-color: #FFF;
	color: #8A0808;
}
#navigation ul li:hover a {
	background-color: #FFF;
	color: #8A0808;
}
#navigation ul li a {
	text-decoration: none;
	color: #FFF;
}
#navigation ul li a:hover {
	text-decoration: none;
	background-color: #FFF;
	color: #8A0808;
}
#navigation ul li img {
	margin-top: 3px;
	border: 0;
}
#navigation ul .selected {
	background-color: #FFFFFF;
	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;
}
#navigation ul .selected a  {
	text-decoration: none;
	background-color: #FFF;
	color: #8A0808;
}
#login-container {
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	background-color: #000;
	width: 190px;
	position: fixed;
	text-align: center;
	color: #FFF;
	font-weight: bold;
	top: -10px;
	right: 15px;
	z-index: 5;
	-webkit-transition: bottom 0.5s linear;
	-moz-transition: bottom 0.5s linear;
}
#login-container #signin_menu {
	position: relative;
	display: none;
}
#login-container ul {
	width: 200px;
	position: relative;
	right: 20px;
	list-style: none;
	text-decoration: none;
	text-align: center;
}
#login-container ul li {
	-webkit-border-radius: 9px;
	-moz-border-radius: 9px;
	background-color: #000;
	text-align: center;
	float: left;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
}
#login-container ul li a {
	color: #FFF;
	text-decoration: none;
}
#login-container ul .signin {
	cursor: pointer;
}
#content {
	position: relative;
	margin-top: 15px;
	margin-bottom: 25px;
	margin-left: auto;
	margin-right: auto;

	width: 900px;

	background-color: #FFFFFF;
	padding-left: 25px;
	padding-right: 25px;
	padding-bottom: 5px;
	padding-top: 10px;

	-webkit-border-radius: 25px;
	-moz-border-radius: 25px;

	-webkit-box-shadow: 8px 8px 5px #000; /* Horizontal Offset, Vertical Offset, Blur, Color */
	-moz-box-shadow: 8px 8px 5px #000; /* Horizontal Offset, Vertical Offset, Blur, Color */
}
/* Contact Page */
#suggestion {
	border: 0;
}
#contact_information {
	color: #000; 
	font-family: Verdana; 
	font-weight: normal; 
	text-decoration:none; 
	font-size: 7.5pt;
}
#contact_information tr:first-child td {
	background-color: #840618;
	border: 0;
	text-align: center; 
	width: 33%; 
	color: #FFF;
	font-weight: bold;
	padding: 10px;
	font-size: 12px;
}
#contact_information .zones td {
	background-color: #E0E0E0;
	border: 0;
	text-align: left;
	font-family: "Castellar";
	font-size: 14px;
}
#contact_information .members td {
	background-color: #FFF;
	border: 0;
	text-align: center;
	height: 25px;
}
#contact_information a {
	text-decoration: none;
	color: #000;
}
/* Accordian CSS - Directory Page */
#accordion a {
	font-family: verdana;
	text-decoration: none;
	font-size: 16px;
	color: #696969;
	font-weight: normal;
}

#accordion a:hover {
	font-family: verdana;
	text-decoration: underline;
	font-size: 16px;
	font-weight: normal;
	color: #188BB1;
}

#accordion h2 {
	font-family: verdana;
	font-size: 14px;
	font-weight: bold;
	color: #188BB1;
}

#accordion p {
	color: #787878;
}

#accordion td {
	color: #787878;
}

.ui-accordion .ui-accordion-content-active {
	border-left: 1px solid #000;
	border-right: 1px solid #000;
	border-bottom: 1px solid #000;
	border-top: 1px solid #000;
	margin-top: 5px;
	margin-bottom: 10px;
	margin-right: 0px;
	color: #000;
}

.announcement_content {
	margin-left: auto;
	margin-right: auto;
	background-color: #eeeeee;
	width: 425px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #CC6600;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #000;
}
.events_content {
	margin-left: auto;
	margin-right: auto;
	background-color: #eeeeee;
	width: 425px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid #CC6600;
	margin-top: 5px;
	margin-bottom: 10px;
	color: #000;
}
#home_table {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#home_table tr td {
	padding: 10px;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}
#reset_password_box {
	display: none;
	text-align: center;
}
#registration_button input {
	display: inline;
}
.event {
	background-color: #d1ecfb;
	width: 400px;
	padding-left: 10px;
	border: 1px solid blue;
	margin-top: 5px;
	margin-bottom: 10px;
}
.users .directory_picture {
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}
#sponsors {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
}

#user-listing {
	margin-left: 50px;
}
.event-info {
	color: #9a0000;
}
#event-description {
	width: 400px;
}