<% form_tag change_password_path do |f| %>
<p>Old Password
<%= password_field_tag 'old_password', @old_password %></p>

<p>New Password
<%= password_field_tag 'password' %></p>

<p>Confirm new password
<%= password_field_tag 'password_confirmation' %></p>

<%= submit_tag 'Change password' %>

<%end%>