<script>
$(function() {
	$( "#reset_password_box" ).dialog();
});
</script>
<div id="reset_password_box">
<%= form_tag '/reset_password' do %>

<p><label for="email">Email</label><br/>
<%= text_field_tag :email, params[:email] %></p>

<%= submit_tag 'Reset password' %>

<% end %>
</div>