<h2>History</h2>
<p>The Carnegie Mellon Chapter of the National Society of Black Egnineers is a chapter that strives to uphold the mission of the organization by providing members with the tools to succeed during and after college. By organizing activities that bring Carnegie Mellon's African-American technical students together, we aim to enrich and diversify the campus community.</p>

<p>Originally charted in 1980 at the National Conference in San Jose,CA, CMU|NSBE commenced under the direction of Aaron Johnson, the chapter's first President. With the support of his Vice President, Eric A. Cheek, and Secretary, Karen Steiner, CMU|NSBE embarked on what would become over a 30 year legacy.</p>

<h2>Facts</h2>
<%= image_tag 'region_map.gif' %>