<p>
	Carnegie Mellon is located in the heart of Pittsburgh, Pennsylvania just steps away from our sister school, the University of Pittsburgh. Ranked one of the best technical institutions in the United States, CMU's 140 acre main campus is considered home for it's 5,000+ undergraduate student body. 
</p>
