<div class="event">
	<p>
		<div class="event_name">
			<span class="smtext"><%= event_item.name %></span>
		</div>
		<div class="event_date">
		</div>
		<div class="event_controls">

		</div>
	</p>
</div>	