<ul>
	<li>With more than 18,000 members, NSBE is the largest student-managed organization in the country.</li>
	<li>NSBE is comprised of more than 270 chapters on college and university campuses, 75 Alumni Extension chapters nationwide and 75 Pre-College chapters.</li>
	<li>All chapters are geographically divided into six regions spreading across the nation.</li>
	<li>NSBE has grown from six to 10,000 members and the annual meeting has blossomed into the Annual National Convention, hosting over 8,000 attendees.</li>
	<li>NSBE has 17 NSBE Jr. pre-college, 268 student and 50 alumni/technical professional chapters.</li>
	<li>Headquartered in Alexandria, Va., NSBE offers academic excellence programs, scholarships, leadership training, professional development and access to career opportunities for thousands of members annually.</li>
	<li>With over 2000 elected leadership positions, 12 regional conferences and an annual convention, NSBE provides opportunities for success that remain unmatched by any other organization.</li>
</ul>
<h2>The Torch </h2>
<p>The torch symbolizes members’ everlasting, burning desire to achieve success in a competitive society and positively affect the quality of life for all people.</p>


<h2>The Lightning Bolt</h2>
<p>The lightening bolt represents the striking impact that will be felt by the society and industry due to the contributions and accomplishments made by the dedicated members of the National Society of Black Engineers.</p>