<h2>The Mission </h2>
<p>NSBE's mission is to increase the number of culturally responsible Black engineers who excel academically, succeed professionally and positively impact the community.</p>

</p>NSBE is comprised of more than 270 chapters on college and university campuses, 75 Alumni Extension chapters nationwide and 75 Pre-College chapters. These chapters are geographically divided into six regions.</p>

<p>	NSBE had its genesis at a national conference planned and hosted by the Society of Black Engineers at Purdue University in April 1975. Black Engineering students from the United States and Canada attended the event. From this meeting of concerned students and educators, NSBE was born. In 1976, NSBE was incorporated as a nonprofit organization in the State of Texas. NSBE also became recognized as a tax-exempt organization under Section 501 (c)(3) of the Internal Revenue Code.</p>

<h2>The objectives of the organization are to: </h2>
<ul>
<li>Stimulate and develop student interest in the various engineering disciplines.</li>
<li>Strive to increase the number of minority students studying engineering at both the undergraduate and graduate levels.</li>
<li>Encourage members to seek advanced degrees in engineering or related fields and to obtain professional engineering registrations.</li>
<li>Encourage and advise minority youth in their pursuit of an engineering career.</li>
<li>Promote public awareness of engineering and the opportunities for Blacks and other minorities in that profession.</li>
<li>Function as a representative body on issues and developments that affect the careers of Black Engineers.</li>
</ul>

<p>New and innovative project ideas are generated and implemented throughout the year on the chapter, regional and national levels.</p>

<p>Some of NSBE's present activities include tutorial programs, group study sessions, high school/junior high outreach programs, technical seminars and workshops, a national communications network (NSBENET), two national magazines (NSBE Magazine and the NSBE Bridge), an internal newsletter, a professional newsletter (The Career Engineer), resume books, career fairs, awards, banquets and an annual national convention.</p>