<h1 id="nav-header">Contact Us</h1>
<%= render :partial => 'executive_board' %>

<%= form_tag '/send_contact_message', :method => "post" %>
 <form method="post" action="mailto:cmu.nsbe.telecoms@gmail.com" enctype="text/plain">

    <p> Your name (required): <br />
    <INPUT TYPE=text NAME=name VALUE="" SIZE=40></p>

    <p> Your email: <br />
    <INPUT TYPE=text NAME=email VALUE="" SIZE=40 MAXLENGTH=20></p>

    <p> Your message:<br />
    <textarea NAME="Message" ROWS="5" COLS="32"> </textarea></p>

    <p><INPUT TYPE=submit NAME=Submit VALUE="Send Message"></p>
  </form>