<script type="text/javascript">
$(window).load(function() {
    $('#slider').nivoSlider({
        effect:'random', //Specify sets like: 'fold,fade,sliceDown'
        slices:15,
        animSpeed:500, //Slide transition speed
        pauseTime:3000,
        startSlide:0, //Set starting Slide (0 index)
        directionNav:true, //Next & Prev
        directionNavHide:true, //Only show on hover
        controlNav:true, //1,2,3...
        controlNavThumbs:true, //Use thumbnails for Control Nav
        controlNavThumbsFromRel:true, //Use image rel for thumbs
        controlNavThumbsSearch: '.jpg', //Replace this with...
        controlNavThumbsReplace: '_thumb.jpg', //...this in thumb Image src
        keyboardNav:true, //Use left & right arrows
        pauseOnHover:true, //Stop animation while hovering
        manualAdvance:false, //Force manual transitions
        captionOpacity:0.8, //Universal caption opacity
        beforeChange: function(){},
        afterChange: function(){},
        slideshowEnd: function(){}, //Triggers after all slides have been shown
        lastSlide: function(){}, //Triggers when last slide is shown
        afterLoad: function(){} //Triggers when slider has loaded
    });
});
</script>

<table id="home_table">
	<tr>
		<td colspan="2">
			<div id="slider">
				<%= image_tag 'nsbe1.jpg', :width => 300 %>
				<%= image_tag 'nsbe2.jpg', :width => 300 %>
				<%= image_tag 'nsbe3.jpg', :width => 300 %>
			</div>	
		</td>
	</tr>
	<tr>
		<td>
			<div class="announcement_content">
				<h2>Friendly Reminders</h2>
				<% if !@announcements.empty? %>
				<ul>
					<% for announcement in @announcements %>
					<li><%= h announcement.content %></li><br />
					<% end %>
				</ul>
				<% else %>
				<ul>
					<li>No recent announcements to display.</li>
				</ul>
				<% end %>
			</div>
		</td>
		<td rowspan="2">
			<div id = "twitter">
				<script src="http://widgets.twimg.com/j/2/widget.js"></script>
				<script>
				new TWTR.Widget({
					version: 2,
					type: 'profile',
					rpp: 5,
					interval: 6000,
					width: 300,
					height: 10,
					theme: {
						shell: {
							background: '#e1e1e1',
							color: '#388fc5'
						},
						tweets: {
							background: '#e6e6dd',
							color: '#666666',
							links: '#388fc5'
						}
					},
					features: {
						scrollbar: true,
						loop: false,
						live: false,
						hashtags: true,
						timestamp: true,
						avatars: false,
						behavior: 'all'
					}
					}).render().setUser('nsberegion2').start();
					</script>
				</div>
			</td>
		</tr>
</table>
<p>
As members of Carnegie Mellon NSBE we strive to maintain excellence in every aspect and provide our members the opportunity for success in the workplace.  We recognize that funding plays a huge role within our organization, and we want to thank all of our contributors: <em>BP Fabric of America, Carnegie Mellon Advising Resource Center (CMARC), Carnegie Mellon University: Carnegie Institute of Technology, Cisco, Intel, Lockheed Martin, Morgan Stanley, Proctor & Gamble, Schlumberger, The Boeing Company, and Xerox</em>.
</p>
		
