<script>
$(function() {
	$( "#tabs" ).tabs();
});
</script>

<% if logged_in? %>
	<p>See my <%= link_to 'registrations', my_events_path %>.</p>
<% end %>
<div id="events-header"><h1 class="title">Listing events</h1> <% if can? :create, Event %><h3 class="title">(<%= link_to 'New Event', new_event_path %>)</h3><% end %></div>
<hr />
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Table View</a></li>
		<li><a href="#tabs-2">Calendar View</a></li>
	</ul>
	<div id="tabs-1">		
		<%= render :partial => 'table_view' %>
	</div>
	<div id="tabs-2">
		<%= render :partial => 'calendar_view' %>
	</div>
</div