<script>
$(function() {
	$( "#tabs" ).tabs();
});
</script>
<div id="nav-header">
	<br />
	<h1>Events</h1> 
	<% if logged_in? %>
	<h3 class="title">(
		<%= link_to "My Registrations", my_events_path %>
		<% if can? :create, Event %> | 
			<%= link_to 'New Event', new_event_path %>
		<% end %>
		)</h3>
	<% end %>
</div>
<div id="tabs">
	<ul>
		<li><a href="#tabs-1">Table View</a></li>
		<li><a href="#tabs-2">Calendar View</a></li>
	</ul>
	<div id="tabs-1">		
		<%= render :partial => 'table_view' %>
	</div>
	<div id="tabs-2">
		<%= render :partial => 'calendar_view' %>
	</div>
</div